@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/*Adds font and styling to all elements */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

/*Adds styling to the navbar */
nav{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 2%;
    width: 100%;
    background: skyblue;
    border-bottom:  black solid 2px;
    background: #000000bf;
    padding: 25px 40px 25px 70px;
    border: 1px solid #000;
    border-left: none;
    border-right: none;
  
}

/*Adds styling to the nav bars unordered elements*/
nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
/*Adds styling to the nav bars logo*/
nav ul li.logo{
    font-family: 'Pokemon Solid', sans-serif;
    padding-right: 45%;
    font-size: 42px;
    color: rgb(255, 255, 255);
  }
  nav ul div.items{
    padding: 0 25px;
    display: inline-flex;
  }
  nav ul div.items a{
    text-decoration: none;
    font-size: 18px;
    padding: 0 15px;
    color: white;
    padding-right: 30px;
    position: relative; right: 540px;
    
  }
  nav ul div.items a:hover{
    color: cyan;
  }
::placeholder {
    color: black;
}
/*Adds styling to the nav bars search input section*/
nav ul .search-icon{
    height: 40px;
    width: 330px;
    display: inline-flex;
    background: #f2f2f2;
    border-radius: 5px;
    position: relative; right: 2%;
  }
  nav ul .search-icon input{
    height: 100%;
    width: 350px;
    border: none;
    outline: none;
    padding: 0 12px;
    color: #000;
    font-size: 16px;
    border-radius: 5px;
  }

/*Adds styling to the overall body*/
body {
    background: #efefbb;
    background: linear-gradient(to right, #d4d3dd, #efefbb);
    background-image: url(images/bg.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}
/*Adds styling to the pokemon cards*/
.poke-card {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 ;
}
.search-poke-card {
    
    display: inline-flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 5%;
    position: relative; top: 10px;
    border-bottom:  rgb(255, 255, 255) solid 3.5px;

    
}
/*Adds styling to the container*/
.pokemon {
    border-radius: 15px;
    border: 2.5px solid black;
    margin: 50px;
    padding-bottom: 0.5;    
}
/*Adds styling to the image container*/
.pokemon .img-container {
    margin-top: 55px;
    background-color: rgba(238, 238, 238, 0.45);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    text-align: center;
    
}
/*Adds styling to the images*/
.pokemon .img-container img {
    max-width: 85%;
    margin-top: 15px;
}
/*Adds styling to the pokemon index number*/
.number { 
    font-size: 180%;
    position: relative; right: -100px;bottom: -10px;
}
/*Adds styling to the pokemon names*/
.name {
    font-size: 190%;
    text-align: center;
    justify-content: center;
    display: flex;
    position: relative; top: -330px;
    
}
/*Adds styling to the pokemon types*/
.type1 {
    font-size: 100%;
    display: inline-block;
    text-align: left;
    margin-left: 45px;
    position: relative; top: -25px;
    color: white;
    
    
}
.type2 {
    font-size: 100%;
    text-align: right;
    margin-left: 70px;
    display: inline-block;
    position: relative; top: -25px;
    color: white;
    
}

  